.carousel-container{
    width: 97%;
    margin: 1rem auto;
    z-index: 1;
}

.slide div{
    height: 50vh;
}

.slide div img{
    height: 100%;
}

.carousel .control-arrow {
    background: none !important;
}

.carousel .control-arrow:hover {
    background: none !important;
}

@media(max-width:1024px){
    .slide div{
        height: 40vh;
    }
}

@media(max-width:800px){
    .slide div{
        height: 35vh;
    }
}

@media(max-width:500px){
    .slide div{
        height: 25vh;
    }
}