.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-logo p{
    color: #383838;
    font-size: 2.5rem;
    font-weight: 700;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 3rem;
    color: #252525;
    font-size: 1.1rem;
}

.footer-links li{
    cursor: pointer;
}

.footer-socail-icon{
    display: flex;
    gap: 1rem;
}

.footer-icons-container{
    padding: 0.6rem;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    margin-bottom: 1.6rem;
    color: #1a1a1a;
    font-size: 1.1rem;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 0.6rem;
    height: 3px;
    background-color: #c7c7c7;
}

@media(max-width:800px){
    .footer{
        gap: 1.2rem;
    }

    .footer-logo{
        gap: 0.6rem;
        align-items: end;
    }

    .footer-logo img{
        width: 2rem;
    }

    .footer-logo p{
        font-size: 1.3rem;
    }

    .footer-links{
        font-size: 0.7rem;
        gap: 0.6rem;
    }

    .footer-socail-icon img{
        width: 1.2rem;
    }

    .footer-copyright{
        font-size: 0.7rem;
    }
}